
       <% date = ["May-12", "May-19", "May-26",  "June-02", "June-09"] %>
       <div class="profile-content">
         <h3>Weign-in Summary</h2>
         <table class="table table-striped">
           <thead>

             <tr class = "header">
               <th colsapn=2>Ranking </th>

               <th class = "header">User</th>
               <% date.each do |date| %>
               <th class = "header">
                 <%= date %>
               </th>
               <% end %>
               <th> TOTAL </th>

             </tr>
           </thead>
           <% count = 1 %>
           <tbody class="table-body">
             <% @user.sort{|user| user.weights.last && user.weights.first ? (user.weights.last.weight - user.weights.first.weight) : -1 }.each do |user| %>
             <tr>
              <td class="ranking"> <%= count %> </td>
               <td class="profile-table-pic">
        					<div class="profile-userpic-all">
        							<img src="<%= user.profile_pic %>" class="media-photo">
        						</a>
        						<div class="media-body">
        							<span class="title"><%= user.username%></span>
        						</div>
        					</div>
        				</td>
                 <td> - </td>
                 <td> <%= user.weights[1] ? number_to_percentage((((user.weights[1].weight - user.weights[0].weight)/user.weights[0].weight) * 100), precision: 2) : ""  %></td>
                 <td> <%= user.weights[2] ? number_to_percentage((((user.weights[2].weight - user.weights[0].weight)/user.weights[0].weight) * 100), precision: 2) : ""  %></td>
                 <td> <%= user.weights[3] ? number_to_percentage((((user.weights[3].weight - user.weights[0].weight)/user.weights[0].weight) * 100), precision: 2) : ""  %></td>
                 <td> <%= user.weights[4] ? number_to_percentage((((user.weights[4].weight - user.weights[0].weight)/user.weights[0].weight) * 100), precision: 2) : ""  %></td>
                 <td> <%= user.weights.first && user.weights.last ? number_to_percentage((((user.weights.last.weight - user.weights.first.weight)/user.weights.first.weight) * 100), precision: 2) : ""  %></td>
                 <% count += 1 %>
             </tr>
             <% end %>

           </tbody>
         </table>
       </div>

 		</div>
 	</div>
 </div>
